<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="point">



<insert id="insertPoint" parameterType="point">

	INSERT INTO POINT VALUES
		(SEQ_PNO.NEXTVAL,
		#{userNo},
		'게임에서 얻은 포인트',
		#{pointAmount},
		TO_CHAR(ADD_MONTHS(SYSDATE, 3), 'MM-DD HH24:MI'),
		TO_CHAR(SYSDATE, 'MM-DD HH24:MI'),
		#{pointCate})

</insert>

<update id="updateMemberTotalPoint" parameterType="point">

	UPDATE MEMBER SET TOTAL_POINT = TOTAL_POINT + #{pointAmount}
	WHERE USER_NO = #{userNo}

</update>


</mapper>