<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="point">

<resultMap type="Point" id="pointMap">
		<id column="POINT_NO" property="pointNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="POINT_CONTENT" property="pointContent"/>
		<result column="POINT_AMOUNT" property="pointAmount"/>
		<result column="POINT_EXPIRE_DATE" property="ExpireDate"/>
		<result column="POINT_EVENT_DATE" property="pointEventDate"/>
		<result column="POINT_CATE" property="pointCate"/>
	</resultMap>

<insert id="insertPoint" parameterType="point">

	INSERT INTO POINT VALUES
		(SEQ_PNO.NEXTVAL,
		#{userNo},
		'게임에서 얻은 포인트',
		#{pointAmount},
		TO_CHAR(ADD_MONTHS(SYSDATE, 3), 'MM-DD HH24:MI'),
		TO_CHAR(SYSDATE, 'MM-DD HH24:MI'),
		#{pointCate})

</insert>

<update id="updateMemberTotalPoint" parameterType="point">

	UPDATE MEMBER 
	SET TOTAL_POINT = 
		CASE 
		WHEN #{pointCate} IS NOT NULL AND #{pointCate} = 'S'
		THEN TOTAL_POINT = TOTAL_POINT - #{pointAmount}
		ELSE TOTAL_POINT = TOTAL_POINT + #{pointAmount}
	WHERE USER_NO = #{userNo}

</update>
<select id="getMyPointList" parameterType="int" resultMap="pointMap">
	SELECT *
	FROM POINT
	WHERE USER_NO = #{userNo}
</select>

<insert id="spendPoint" parameterType="point">
	INSERT INTO POINT
	VALUES(
		SEQ_PNO.NEXTVAL,
		#{userNo},
		#{pointContent},
		#{pointAmount},
		#{ExpireDate},
		#{pointEventDate},
		#{pointCate}
	)
</insert>


</mapper>