<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ticket">


<insert id="insertTicket" parameterType="ticket">
		
		INSERT INTO Ticket VALUES
		(SEQ_TNO.NEXTVAL,#{userNo},1,#{ticketStatus})
</insert>

</mapper>