<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="game">

<insert id="insertGame" parameterType="com.ds.dasony.game.model.vo.Game">
		
		INSERT INTO GAME VALUES(
			1, SYSDATE,'Y',100,'N',1
		);
</insert>




</mapper>