.home-best-carousel{
    display: flex;
    justify-content: space-around;
}
.home-best-carousel a:hover{
    color: #7A7A7A;
}
.home-best-carousel>a{
    width: 30%;
    height: 28vh;
}
.home-best-box{
    text-align: center;
    border: 2px solid #CB9DE7;
    border-radius: 0.5vw;
    width: 100%;
    margin: auto;
    padding: 1vh 0 1vh 0;
}

.home-best-box>div:first-child{
    display: flex;
    vertical-align: center;
    margin: auto;
    border: 2px solid #CB9DE7;
    border-radius: 0.5vw;
    width: 80%;
    position: relative;
    overflow: hidden;
    background-color: black;
    margin-bottom: 1vh;
}
.home-best-box>div>img{
    width: 100%;
}

.carousel-indicators{
    visibility: hidden;
}
.best-text-box{
    display: block;
    text-align: center;
}
.best-user-text{
    width: 40%;
    background-color: #CB9DE7;
    border-radius: 0.5vw;
    color: white;
    letter-spacing: 0.1vw;
    margin: auto;
}





.local-carousel{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.local-carousel a:hover{
    color: #7A7A7A;
}
.local-box{
    width: 12vw;
    height: 12vh;
    border: 2px solid #CB9DE7;
    border-radius: 0.5vw;
    margin: auto;
    display: flex;
    font-size: 80%;
}
.local-box:hover{
    cursor: pointer;
}
.local-box>div{
    margin: auto;
}
.local-box-img{
    display: inline-flex;
    vertical-align: bottom;
    width: 45%;
    height: 80%;
    border: 2px solid #CB9DE7;
    border-radius: 0.5vw;
    position: relative;
    overflow: hidden;
    margin: 0 2vw 0 2vw;
    margin: auto;
}

.local-box-img>img{
    width: 100%;
}
.local-box-text{
    text-align: center;
    width: 45%;
    word-wrap: break-word;
}
.local-box-nick-text{
    margin: auto;
    background-color: #CB9DE7;
    border-radius: 0.5vw;
    color: white;
    letter-spacing: 0.1vw;
    width: 70%;

}
.local-box-content-text{
    width: 100%;
    word-wrap: break-word;
    height: 3vh;
}



.mainShorts-container{
    display: flex;
    width: 100%;
    overflow: hidden;
}
.mainShorts-container>a:hover{
    color: #7A7A7A;
}
.carousel-btn-left{
    position: absolute;
    text-align: center;
    color: white;
    opacity: 0.5;
    top: 92vh;
    left: 26%;
    width: 4%;
    height: 32vh;
    line-height: 32vh;
    z-index: 999;
    color: #CB9DE7;
    font-size: 2vw;
}
.carousel-btn-left:hover{
    opacity: 1;
    transition-duration: 0.5s;
    cursor: pointer;
}
.carousel-btn-right{
    position: absolute;
    text-align: center;
    color: white;
    opacity: 0.5;
    top: 92vh;
    right: 37%;
    width: 4%;
    height: 32vh;
    line-height: 32vh;
    z-index: 90;
    color: #CB9DE7;
    font-size: 2vw;
}
.carousel-btn-right:hover{
    opacity: 1;
    transition-duration: 0.5s;
    cursor: pointer;
}
.carousel-control-next-icon{
    color: #CB9DE7;
}
.carousel-control-prev-icon{
    color: #CB9DE7;
}
.mainShorts-box{
    font-size: 80%;
    border: 2px solid #CB9DE7;
    border-radius: 0.5vw;
    margin: 0 5px 0 5px;
    flex: 0 0 31%;
    position: relative;
    left: 33%;
    z-index: 0;
    transition: 0.5s;
    height: 35vh;
    width: 12.2vw;
}
.mainShorts-box>div:first-child{
    border: 2px solid #CB9DE7;
    border-radius: 0.5vw;
    margin : 1vw 1vw 0 1vw;
    overflow: hidden;
    height: 25vh;
    background-color: black;
    font-size: 1vw;
}
.mainShorts-box img{
    width: 100%;
}
.mainShorts-box>div:last-child{
    display: flex;
    justify-content: space-evenly;
    font-size: 80%;
}
.shorts-box-nick-text{
    width: 4vw;
    margin: auto;
    border-radius: 0.5vw;
    color: white;
    letter-spacing: 0.2vvw;
    background-color: #CB9DE7;
}


.mainVs-container{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    margin: auto;
    overflow: hidden;
    font-size: 2vw;
}
.mainVs-container a:hover{
    color: #7A7A7A;
}
.mainVs-box{
    box-sizing: border-box;
    height: 18vh;
    margin: auto;
    border: 2px solid #CB9DE7;
    border-radius: 0.5vw;
    margin: 0 0.5vw 0 0.5vw;
    position: relative;
    /* z-index: 1; */
    z-index: 0;
    transition: 0.5s;
    font-size: 1.5vw;
    text-align: center;
}
.mainVs-box:hover{
    cursor: pointer;
}
.mainVs-box>span{
    font-size: 80%;
}
.mainVs-box>div{
    display: flex;
    justify-content: space-around;
    
}
.mainVs-box>div>div{
    box-sizing: border-box;
    width: 6vw;
    height: 6vw;
    border: 2px solid #CB9DE7;
    border-radius: 0.5vw;
    margin: 0vw 1vw 0vw 1vw;
    line-height: 6vw;
    text-align: center;
    font-size: 70%;
}
.mainVs-box>div>div:nth-child(2){
    box-sizing: border-box;
    width: 2vw;
    height: 6vw;
    border: none;
    line-height: 6vw;
    text-align: center;
    font-size: 70%;
    margin: 0;
    padding: 0;
}
.vs-carousel-btn-left{
    position: absolute;
    text-align: center;
    color: white;
    opacity: 0.5;
    top: 170vh;
    left: 25%;
    width: 4%;
    height: 19vh;
    line-height: 19vh;
    z-index: 90;
    color: #CB9DE7;
}
.vs-carousel-btn-left:hover{
    opacity: 1;
    transition-duration: 0.5s;
    cursor: pointer;
}
.vs-carousel-btn-right{
    position: absolute;
    text-align: center;
    color: white;
    opacity: 0.5;
    top: 170vh;
    right: 36.5%;
    width: 4%;
    height: 19vh;
    line-height: 19vh;
    z-index: 90;
    color: #CB9DE7;
}
.vs-carousel-btn-right:hover{
    opacity: 1;
    transition-duration: 0.5s;
    cursor: pointer;
}


