*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

/*메인영역, 푸터영역*/
.for-main{
  width: 90%;
  display: flex;
  padding-left: 25%;
  padding-top: 10vh;
}
/*메인 페이지 내부*/
#main-window{
  width: 60%;
  border:  1px solid blue;
}
#right-window{
  width:40%;
  border:  1px solid blue;
}

/*메인 페이지 이외의 페이지가 들어가는 부분*/
.for-normal-page{
  width: 90%;
  display: block;
  padding: 10vh 0 0 25%;
  border: 1px solid black;
}
/*로그인 안 한 페이지가 들어가는 부분*/
.main-container{
  width: 75%;
  height: 100vh;
  position: relative;
  z-index: 999;
  background-color: white;
}