 #gameTable{
    border-collapse: collapse;
}
#gameTable td{
    width: 30px;
    height: 30px;
    text-align:center;
    vertical-align:middle;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

#game{
    text-align: center;
    width: 150px;
    height: 70px;
    display: none;
    position: fixed;
    top: 5vh;
    right: 5%;
    z-index: 55;
    animation: blink 3s infinite;  
}
#game:hover{
    cursor: pointer;
}

#gameDiv{
    position: fixed;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
