#toggle_head{
    overflow: hidden;
    border-collapse: collapse;
    position: absolute;
    position: relative;
    text-align: center;
}


#togglechat{
    position: absolute;
    bottom: 0vh;
    height: 480px;
    border: 2px solid #CB9DE7;
    border-radius: 0.5vw;
}

#togglechat>table{
    height: 5vh;
    border-bottom: 1px solid #7A7A7A;
    color: #7A7A7A;
    font-weight: 100;
    font-family: 'HakgyoansimWoojuR';
}

#toggle_body tr{
    height: 5vh; 
    font-family: 'HakgyoansimWoojuR';
    font-size: 14px;
    font-weight: 300;
    color: #7A7A7A;
}

#toggle_body td{
    border-bottom: 1px solid #7A7A7A;
    vertical-align: middle;
}

#toggle_body tbody tr:hover{
    background-color: ghostwhite; 
    cursor: pointer;
}

#ttable, #tchattable{
    border-spacing: 0px;

}

#toggle_body{
    max-height: 395px;
    overflow: auto; 
    word-wrap: break-word;
    /* height: 500px; */
}

#bi-star{
    font-size: 15px;
}

#closeBtn {
    position: absolute;
    top: 91%;
    right: 15px;
    box-sizing: border-box;
    border: none;
    color: #CB9DE7;
    background-color: white;
    border-radius: 1vw;
    font-size: 1.5vw;
    font-family: 'HakgyoansimWoojuR';
  }

  #closeBtn:hover{
    cursor: pointer;
  }

  .bi-star-fill{
    color: #CB9DE7;
    border: #CB9DE7;
  }