<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="donationMapper">

<resultMap type="donation" id="donaResultSet">
     <id column="DONA_NO" property="donaNo"/>
     <result column="DONA_CONTENT" property="donaContent"/>
     <result column="DONA_TITLE" property="donaTitle"/>
     <result column="DONA_WRITE_DATE" property="donaWriteDate"/>
     <result column="DONA_NAME" property="donaName"/>
     <result column="DONA_END_DATE" property="donaEndDate"/>
     <result column="DONA_ACHIEVE" property="donaAchieve"/>
     <result column="DONA_TOTAL_AMOUNT" property="donaTotalAmount"/>
     <result column="DONA_TARGET_AMOUNT" property="donaTargetAmount"/>
     <result column="DONA_SELECT_AREA" property="donaSelectArea"/>
  </resultMap>
     
 <!-- <resultMap type="donationList" id="donationListResultSet">
     <id column="DONA_NO" property="donaNo"/>
     <result column="DONA_EXECUTE_DATE" property="donaExecuteDate"/>
     <result column="DONA_AMOUNT" property="donaAmount"/>
     <result column="USER_NO" property="userNo"/>
  </resultMap>  -->
  
  <resultMap type="donationList" id="donationListResultSet">
    <id column="DONA_EXECUTE_NO" property="donaExecuteNo"/>
    <result column="DONA_AMOUNT" property="donaAmount"/>
    <result column="DONA_EXECUTE_DATE" property="donaExecuteDate"/>
    <result column="DONA_NO" property="donaNo"/>
    <result column="DONA_NAME" property="donaName"/>
    <result column="USER_NAME" property="userName"/>
</resultMap>
  
  <!-- TO_CHAR(DONA_WRITE_DATE, 'YYYY"-"MM"-"DD"-"') DONA_WRITE_DATE -->
  
  <select id="selectDonaList" resultMap="donaResultSet">
     SELECT  
        DONA_NO,
        DONA_TITLE,
        DONA_NAME,
        DONA_WRITE_DATE,
        DONA_SELECT_AREA
     FROM DONATION
     ORDER BY DONA_NO DESC
  </select>
  
  <select id="selectDonaDetail" parameterType="int" resultMap="donaResultSet">
     SELECT 
        *
     FROM DONATION
     WHERE DONA_NO = #{donaNo}
  </select>
  
  <!-- WHERE DONA_EXECUTE_DATE = #{donaExecuteDate} -->
  <select id="selectAdminDonaList" resultMap="donaResultSet">
     SELECT
        DONA_NO,
        DONA_TITLE,
        DONA_NAME,
        DONA_WRITE_DATE,
        DONA_END_DATE,
        DONA_TOTAL_AMOUNT,
        DONA_TARGET_AMOUNT,
        DONA_ACHIEVE,
        DONA_SELECT_AREA
     FROM DONATION
     ORDER BY DONA_NO DESC
  </select>
  
  <select id="selectAdDonaDetail" parameterType="int" resultMap="donaResultSet">
     SELECT 
        *
     FROM DONATION
     WHERE DONA_NO = #{donaNo}
  </select>
  
  <insert id="insertDona" parameterType="Donation">
     INSERT INTO DONATION
     (   
        DONA_NO,
        DONA_TITLE,
        DONA_NAME,
        DONA_TARGET_AMOUNT,
        DONA_CONTENT,
        DONA_END_DATE,
        DONA_TOTAL_AMOUNT,
        DONA_SELECT_AREA
     ) VALUES(
        SEQ_DNO.NEXTVAL,
        #{donaTitle},
        #{donaName},
        #{donaTargetAmount},
        #{donaContent},
        ADD_MONTHS(SYSDATE, 5),
        #{donaTotalAmount},
        #{donaSelectArea}
        
     )
  </insert>
  
 <update id="updateDona" parameterType="Donation">
   UPDATE DONATION SET
      DONA_TITLE = #{donaTitle},
      DONA_NAME = #{donaName},
      DONA_TARGET_AMOUNT = #{donaTargetAmount},
      DONA_CONTENT = #{donaContent} 
   WHERE DONA_NO = #{donaNo}
 </update>

 <delete id="deleteDona">
   DELETE FROM DONATION
   WHERE DONA_NO = #{donaNo}
 </delete>
 
  <select id="DonaDetails" resultMap="donationListResultSet" parameterType="int">
	SELECT
	    DL.DONA_EXECUTE_NO,
	    DL.DONA_AMOUNT,
	    DL.DONA_EXECUTE_DATE,
	    DL.DONA_NO,
	    DL.USER_NO,
	    M.USER_NAME
	FROM DONATION_LIST DL
	JOIN MEMBER M ON DL.USER_NO = M.USER_NO
	WHERE DL.DONA_NO = #{donaNo}
  </select>
  
 <select id="getMyDonationList" parameterType="int" resultMap="donationListResultSet">
    SELECT 
	    DONA_EXECUTE_DATE,
	    DONA_AMOUNT,
	    DONA_EXECUTE_NO,
	    DONA_NAME
    FROM DONATION_LIST
    JOIN DONATION USING (DONA_NO)
    WHERE USER_NO = #{userNo}
 </select>
 
 <insert id="insertDonaList">
 	INSERT INTO DONATION_LIST
	(
		DONA_EXECUTE_NO,
		DONA_AMOUNT,
		DONA_EXECUTE_DATE,
		USER_NO,
		DONA_NO
	) VALUES (
		SEQ_DLNO.NEXTVAL,
		#{donaAmount},
		DEFAULT,
		#{userNo},
		#{donaNo}
	)
 </insert>
 
<!--  <update id="amountUpdate" parameterType="Donation">
 	UPDATE DONATION SET
 		DONA_TOTAL_AMOUNT = #{donaTotalAmount}
 		WHERE DONA_NO = #{donaNo}
 </update> -->
 
</mapper>