<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="calendarMapper">

	<resultMap type="calendar" id="calendarMap">
		<id column="CALENDAR_NO" property="calendarNo"/>
		<result column="CALENDAR_NAME" property="calendarName"/>
		<result column="CALENDAR_DATE" property="calendarDate"/>
		<result column="CALENDAR_PLACE" property="calendarPlace"/>
		<result column="CALENDAR_SPEC" property="calendarSpec"/>
		<result column="CALENDAR_CATE" property="calendarCate"/>
		<result column="CALENDAR_LOCATION" property="calendarLocation"/>
		<result column="CALENDAR_STATUS" property="calendarStatus"/>
		<result column="USER_NO" property="userNo"/>
	</resultMap>
	
	<select id="calendarList" parameterType="string" resultMap="calendarMap">
		SELECT CALENDAR_NO, 
				CALENDAR_DATE, 
				CALENDAR_NAME, 
				CALENDAR_PLACE, 
				CALENDAR_LOCATION, 
				CALENDAR_SPEC, 
				CALENDAR_CATE, 
				CALENDAR_STATUS,
				USER_ID,
				CALENDAR.USER_NO
		FROM CALENDAR
		JOIN MEMBER ON CALENDAR.USER_NO = MEMBER.USER_NO
		<where>
		    <if test="region != '관리자'">
		      AND CALENDAR_LOCATION = #{region}
		    </if>
  		</where>
  		ORDER BY CALENDAR_NO DESC
	</select>
	
	<insert id="calendarInsert" parameterType="calendar">
		INSERT INTO CALENDAR
		VALUES(
			SEQ_CAL.nextval,
		    #{calendarName},
		    #{calendarDate},
		    #{calendarPlace},
		    #{calendarSpec},
		    CASE
            WHEN #{calendarCate} = '축제' THEN 'F'
            WHEN #{calendarCate} = '공연' THEN 'P'
            WHEN #{calendarCate} = '봉사' THEN 'D'
            WHEN #{calendarCate} = '기타' THEN 'E'
            ELSE NULL
        	END,
		    #{calendarLocation},
		    DEFAULT,
		    #{userNo}
		)
	</insert>
	
	<update id="calendarAdmit" parameterType="map">
		UPDATE CALENDAR
		SET CALENDAR_STATUS = 'Y'
		WHERE CALENDAR_NO = #{calendarNo}
	</update>
	
	<delete id="calendarCancle" parameterType="int">
		DELETE FROM CALENDAR
		WHERE CALENDAR_NO = #{calendarNo}
	</delete>

</mapper>
