
.section_1 {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_1_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.section_1_content {
    width: 100%;
    height: 85%;
    background-color: white;
}

.report_list {
    width: 80%;
    height: 90%;
    margin: auto;
    margin-top: 5%;
    border-radius: 4px;
    background-color: white;
}

.list-area {
    text-align: center;
    color: gray;
    width: 100%;
    font-size: 1.4em;
    background-color: white;
}
.list-area td{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 4vw;
}

.list-area>tbody>tr:hover {
    background-color: lightgray;
    color: black;
    cursor: pointer;
}

.paging-area>button {
    border: none;
    border-left: 4px solid white;
    background-color: lightgray;
    color: gray;
    font-size: 1.5em;
    width: 45px;
}

.paging-area>button:hover {
    background-color: gray;
    color: black;
    cursor: pointer;
}


